//-----------------------------------------------------------------
// Game Skeleton Resources
// RC Source - DAEGame1.rc - version v2_17 sept 2015 
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_BIG			ICON         "big.ico"
IDI_SMALL		ICON         "small.ico"

